<!-- Navigation buttons at the bottom of the post. -->

{% assign current_order = page.order %} {% assign sorted_posts = site.posts |
sort: "order" %} {% assign prev_post = nil %} {% assign next_post = nil %} {%
assign found = false %} {% for post in sorted_posts %} {% if found %} {% assign
next_post = post %} {% break %} {% endif %} {% if post.url == page.url %} {%
assign found = true %} {% else %} {% assign prev_post = post %} {% endif %} {%
endfor %}

<nav
  class="post-navigation d-flex justify-content-between"
  aria-label="Post Navigation"
>
  {% assign previous = site.data.locales[include.lang].post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %} {% if
  prev_post %}
  <a
    href="{{ site.baseurl }}{{ prev_post.url }}"
    class="btn btn-outline-primary"
    aria-label="{{ previous }}"
  >
    <p>{{ prev_post.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled" aria-label="{{ previous }}">
    <p>-</p>
  </div>
  {% endif %} {% if next_post %}
  <a
    href="{{ site.baseurl }}{{ next_post.url }}"
    class="btn btn-outline-primary"
    aria-label="{{ next }}"
  >
    <p>{{ next_post.title }}</p>
  </a>
  {% else %}
  <div class="btn btn-outline-primary disabled" aria-label="{{ next }}">
    <p>-</p>
  </div>
  {% endif %}
</nav>
